---
import Layout from "@/layouts/Layout.astro";
---

<footer class="text-center py-8">
  <p class="text-sm text-slate-300">
    © 2024 <a
      href="https://x.com/willcameronv10"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-black text-white hover:bg-slate transition-colors duration-300"
      >someguy</a
    >
  </p>
</footer>
<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Blur effect for modern browsers */
  }
</style>
